h2 {
  font-family:sans-serif;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
span {
  margin: 5px;
  left-padding: 5px;
  /*border-style: none none none dotted;*/
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.hrf {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.viewportwindow_ {
  border-width: 1px;
	width: 40px;
	height: 40px;
  background: #fafafa;
}
.panel-heading_ {
    cursor: move;
    background-color: lightblue;
    margin: 1px;
}

#header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:200;	/* high z index so other content scrolls underneath */
    height:140px;
    background: linear-gradient(to bottom, #99ccff 0%, #b3d9ff 51%, #cce6ff 95%);
}

#c_y {
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
}
/*
#sali{
    width: 300px;
    height: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
*/
#datac{
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 14;
}

.residue {
    margin: 1px;
    font-family: 'Lucida Console', Monaco, monospace;
}

.residue_hover {
    color: orange;
    font-weight: bold;
    text-decoration: underline overline;
}

.residue:hover {
    color: orange;
    font-weight: bold;
    text-decoration: underline overline;
}

.residue_identical {
    color: crimson;
}

.noUi-horizontal.noUi-extended {
	padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -32px;
}
